.vscode/**
.vscode-test/**
out/test/**
src/**
.gitignore
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
screenshot/**
.github/**
yarn.lock
tsconfig.eslint.json
tsconfig.json
tsconfig.webviews.json
webpack.config.js
CODE_OF_CONDUCT.md
CONTRIBUTING.md
.gitignore-revs
.prettierignore
.prettierrc
node_modules/**
images/**
publish/**